@import "~bootstrap/dist/css/bootstrap.min.css";
*{
    margin:0;
    padding:0;
}
a,a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}
li{
    list-style: none;
}
html,body {
    /*font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;*/
    font-family: Arial,STXihei,Microsoft YaHei;
    height: 100%;
    overflow: hidden;
}
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.navPanel{
    width: 270px;
    height: 100%;
    background-color: #343268;
}
.headTitle{
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    background-color: #5555fb;
    color: #fff;
}
.navMain{
    background-color: #343268;
}
#myPanel a{
    display: block;
    font-size: 20px;
    color: #ddd;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
}
#myPanel .navShow{
    transform:rotate(90deg);
}
#myPanel a .itemImg{
    margin-right: 10px;
}
#myPanel a .itemTag{
    float: right;
    margin-top: 18px;
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s; /* Safari */
}
#myPanel ul{
    display: none;
    color: #e8e8e8;
    background-color: #25244A;
}
#myPanel ul li{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #e8e8e8;
    padding-left: 58px;
}
#myPanel a:hover,#myPanel ul li:hover{
    color: #fff;
    background-color: #444288;
}
.contentPanel{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.topContent{
    height: 60px;
    line-height: 60px;
}
.topContent .topRight{
    float: right;
    margin-right: 50px;
}
.topContent .news{
    margin-right: 50px;
}
.topContent .user{
    display: inline-block;
}
.topContent .userPhoto{
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: #fff;
}
.topContent .userName{
    font-size: 18px;
}
.mainContent{
    flex: 1;
    background-color: #f3f3f8;
    padding: 40px 0 0 50px;
}